*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.main-color{
  background-color: #27384c;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #27384c;
  padding: 15px;
}
.navbar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.logo{
  max-width: 120px;
}
.list{
  list-style: none;
  display: flex;
  gap: 45px;
}
#toggler,
.navbar label{
  display: none;
}
i{
  color: white    ;
}
.exit{
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 5px;
  color: red !important;
}
.exit:hover{
  border: 1px solid red;
  background-color: red;
  color: white !important;
  padding: 3px 10px;
  border-radius: 5px;
}

.list-group-item{
  cursor: pointer;
}
.day{
  width: 300px;
  border: 1px solid black;
}

.honadon-kirmadi{
  background-color: #ff414e !important;
  color: white !important;
}
.honadon-kirdi{
  background-color: #198754 !important;
  color:white !important;
}
.list-group-item{
  background-color: #d5d6ed;
  padding: 4px 10px;
}
.pointer{
  cursor: pointer;
}
.custom-dropdown:nth-child(1){
  margin-right: 40px;
}
.custom-dropdown select {
  background-color: #27384C;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;  
  border: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
}






/* LOGIN PAGE STYLE */
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}
.login_form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.login_form *{
  font-family: 'Poppins',sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login_form h3{
  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
}

.login_form label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;

}
.login_input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
::placeholder{
  color: #f09819;
}
.login_form button{
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  /* border: 3px solid #f09819; */
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.date-input{
  border-radius: 7px;
  border: 2.6px solid #27384c;
  color: #27384c;
  height: 40px;
  padding: 5px;
}
.date-input:focus{
  box-shadow: 1px 1px 10px 1px #145fc1;
}
/* MEDIA */
@media screen and (max-width:768px){
  .menu{
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }
  .list{
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }
  .navbar label{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }
  #toggler:checked ~ .menu{
      max-height: 100%;
  }
  .background{
    width: 300px;
    height: 400px;
}
.login_form{
    height: 420px;
    width: 300px;
}
.login_form button{
    margin-top: 10px;
  }
}

@media screen and (max-width:600px) {
  .year2023{
    height: 80vh !important;
  }
}

/* /////////////////// ADRESS WORK ///////////////////// */
 i{
  color: black;
}