{% extends 'base.html' %}

{% block title %}Manzillar{% endblock %} 

{% block content %}
<div class="container-sm">
    <table class="table mt-3">
        <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">F.I.O</th>
              <th scope="col">Manzil</th>
              <th scope="col">Tel.raqam</th>
              <th scope="col"><i class="fa-solid fa-check text-success"></i>/<i class="fa-solid fa-rotate-right "></i>
              </th>
            </tr>
            <tbody class="address">
              {% for address in addresses %}
                <tr data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{address.address.full_name}}</td>
                    <td>{{address.address.addres_name}}</td>
                    <td>{{address.address.phone_number}}</td>
                    {% if address.checked %}
                    <td><i class="fa-solid fa-check text-success"></i></td>
                    {% else %}
                    <td><i class="fa-solid fa-rotate-right "></i></td>
                    {% endif %}
                </tr>   
                {% endfor %} 
          </thead>

            </tbody>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Tastiqlasj oynasi</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary mb-2">Sms Yuborish</button>
                        <input class="form-control" type="text" placeholder="Sms kod">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Tastiqlash</button>
                    </div>
                  </div>
                </div>
              </div>

    </table>
</div>



{% endblock %}