{% extends 'base.html' %} 

{% block title %}Grafik tuzish{% endblock %} 


{% block content %}

<div class="d-flex justify-content-center w-100">
  <div id="alert" class="d-none alert alert-primary position-fixed  p-3 mt-2 " style="z-index: 100; width: 300px">
    <p class="text-center alert_text"></p>
  </div>
</div>


<div class="container container-sm">
  <div class="row mt-3">
    <div class="col-lg-3 border-end">
      <ul class="list-group main-color fw-bold">
        <li class="list-group text-center text-light p-2 h4 fw-bold">
          Ishchilar
        </li>
        {% for staff in staffs %}
        <li class="list-group-item staff_list" >
          <input class="form-check-input me-1" type="radio" id="{{ staff.pk }}" name="radio"/>
          <label class="form-check-label" for="{{ staff.pk }}" style="cursor: pointer;">{{staff.full_name }}</label>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-9">

      <div class="d-flex   flex-wrap ">
        <div class="d-flex flex-md-nowrap flex-wrap mt-2 ">
          <div class="custom-dropdown big main-color">
            <select id="select">
              <option selected disabled>MFY</option>
              {% for neighborhood in neighborhoods %}    
                <option>{{ neighborhood.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="dropdown mx-md-3">
            <button
              class="btn btn-success main-color text-light dropdown-toggle "
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ko'chalar
            </button>
            <ul class="dropdown-menu" id="select2">
              <!-- <li class="dropdown-item"><input type="checkbox" onclick="selectKocha(event)" value="Action1" id="one"><label for="one">Action1</label></a></li>
              <li class="dropdown-item"><input type="checkbox" onclick="selectKocha(event)" value="Action2" id="two"><label for="two">Action2</label></a></li>
              <li class="dropdown-item"><input type="checkbox" onclick="selectKocha(event)" value="Action3" id="three"><label for="three">Action3</label></a></li> -->
            </ul>
          </div>
        </div>
        <div class="d-flex flex-md-nowrap flex-wrap mt-2">
          <input name="date" type="date" class="date-input ms-md-5 my-md-0 my-sm-0" />
          <button id="showAlert" class="btn btn-success ms-5 save_grafic">
            Saqlash
          </button>
        </div>
      </div>



      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Tanlash</th>
            <th scope="col">№</th>
            <th scope="col">F.I.O</th>
            <th scope="col">Address</th>
            <th scope="col">Tel.raqam</th>
          </tr>
        </thead>
        <tbody class="address">
          <!-- pass -->
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  let arr;
  let areaSelect = document.querySelector('#select')
  let areaSelect2 = document.querySelector('#select2')
  let save_grafic = document.querySelector('.save_grafic')
  let staff_list = document.querySelectorAll('.staff_list')
  let alert = document.getElementById('alert')
  
  function showAlert(text, color){
    console.log(color);
    alert.classList.remove('d-none')
    alert.classList.add('d-block')
    document.querySelector('.alert_text').textContent = text
    setTimeout(() => {
      alert.classList.remove('d-block')
      alert.classList.add('d-none')
    }, 3000)
  }

  areaSelect.addEventListener('change',(e)=>{
      getStreets(e.target.value)
  });

  function makeStreetDropdown(data){
    let street = document.querySelector('#select2');
    let context = '';
    for (let i = 0; i < data.length; i++) {
      context += `<li class="dropdown-item"><input type="checkbox" onclick="getAddress()" value="${data[i].fields.slug}" id="${data[i].fields.slug}"> <label for="${data[i].fields.slug}">${data[i].fields.name}</label></a></li>`
    }
    street.innerHTML = context
  }
  function makeAddressDropdown(data){
    let address = document.querySelector('.address');
    let context = '';
    for (let i = 0; i < data.length; i++) {
      context += `<tr onclick="clickedTable(this)" data-address_id="${data[i].pk}">
              <th scope="row"><input class="address_items" type="checkbox" id="${data[i].pk}"/></th>
              <th scope="row">${i+1}</th>
              <td>${data[i].fields.full_name}</td>
              <td>${data[i].fields.addres_name}</td>
              <td>${data[i].fields.phone_number}</td>
            </tr>`
    }
    address.innerHTML = context
  }
  function clickedTable(e){
    let clicktable=e.childNodes[1].childNodes[0]
    if(clicktable.checked==true){
      clicktable.checked=false
    }else{
      clicktable.checked=true
    }
  }


  function getStreets(e) {
    console.log(e);
    $.ajax({
      url: "{% url 'get_streets' %}",
      type: "get",
      data: { item: e },
      success: function (data) {
        makeStreetDropdown(data)
      },
    });
  }
  function getAddress() {
    let liKocha=document.querySelectorAll('#select2 li input');
    arr=[]
    liKocha.forEach(li=>{
      let checkedli=li.checked
      if(checkedli==true){
        arr.push(li.value)
      }
    });

    $.ajax({
      url: "{% url 'get_address' %}",
      type: "get",
      data: {item: arr},
      success: function (data) {
        makeAddressDropdown(data)
      },
    });
  }

  save_grafic.addEventListener('click', (e) => {
    neighborhood = areaSelect.value
    date = document.querySelector('.date-input').value
    let address_items = document.querySelectorAll('.address_items');
    let addresses = []
    address_items.forEach((item) => {
      console.log('sasasa');
      if (item.checked){
        addresses.push(item.getAttribute('id'))
      }
    })
    staff_list.forEach((item) => {
        if (item.childNodes[1].checked && neighborhood && date) {            
            staff = item.textContent.trim()
            saveGraficData({ staff: staff, date: date, addresses: addresses})
            showAlert('Saqlandi')
        } else {
          showAlert('Xatolik yuz berdi')
        }
            
        
    });
});


function saveGraficData(items){
  $.ajax({
    url: "{% url 'save_grafic' %}",
    type: "get",
    data: items,
    success: function (data) {
      console.log(data);
    },
  })
}
</script>
{% endblock %}
