{% extends 'base.html' %}

{% block title %}Jadval{% endblock %} 

{% block content %}

<div class="container">
    <table class="table mt-3">
    <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">F.I.O</th>
          <th scope="col">Lavozim</th>
          <th scope="col"><i class="fa-solid fa-check text-success"></i>/<i class="fa-solid fa-xmark text-danger"></i></th>
          <th scope="col">%</th>
          <th scope="col">Sana</th>
          </th>
        </tr>
      </thead>

        <tbody class="address">
            
            {% for work in works %}
            <tr data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
                <td scope="row">{{ forloop.counter }}</th>
                <td>{{work.0.staff.full_name}}</td>
                <td>{{work.0.staff.rank}}</th>
                <td>
                  {% if work.checked %}
                  0/{{work|length}}
                  {% else %}
                  0/{{work|length}}
                  {% endif %}
                </td>
                <td>50%</td>
                <td>{{ work.0.date | date:'Y-m-d' }}</td>
            </tr>
            {% endfor %}
            
        </tbody>

       

</table>
</div>


{% endblock %}